{% extends 'base_app/base.html' %}
{% load static %}
{% block title %}{{object.title}}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
        <div class="tv-innerpage-banner">
            <div class="container">
                <div class="row">
                    <div class="tv-innerpage-content">
                        <header>
                            <h1>{{ object.title }}</h1>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{% url 'base_app:home_page' %}">Home</a>
                                </li>
                                <li class="active">{{ object.title }}</li>
                            </ol>
                        </header>
                    </div>
                </div>
            </div>
        </div>
        <section class="tv-section">
            <div class="tv-section-content">
                <div class="container">
                    <div class="row">
                        <div class="tv-single-blog">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="tv-blog-content">
                                    <div class="tv-blog-image">
                                        <a><img src="{{ object.bild.url }}" class="img-responsive" alt="{{ object.title }}_detail"></a>
                                    </div>
                                    <div class="tv-blog-text">
                                        <div class="tv-blog-title mt">
                                            <h4>
                                                <a href="#">{{ object.title }}</a>
                                            </h4>
                                        </div>
                                        <div class="tv-blog-desc">
                                            {{ object.description|linebreaks|urlize }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
