{% extends 'base_app/base.html' %}
{% load static %}
{% block title %}Impressum und AGBs{% endblock %}
{% block head %}
{% endblock %}
{% block content %}

        <div class="tv-innerpage-banner">
            <div class="container">
                <div class="row">
                    <div class="tv-innerpage-content">
                        <header>
                            <h1>IMPRESSUM UND AGB's</h1>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{% url 'base_app:home_page' %}">Home</a>
                                </li>
                                <li class="active">Impressum</li>
                            </ol>
                        </header>
                    </div>
                </div>
            </div>
        </div>

        <section class="tv-section">
          <header class="tv-section-heading margin_bottom_0">

            <h2 class="tv-section-title">
              {{ contant_info.name }}
            </h2>
            <p class="tv-section-para margin_bottom_0">
              {{ contant_info.adresse }}
            </p>
            <p class="tv-section-para margin_bottom_0">
              {{ contant_info.ort }}
            </p>
            <p class="tv-section-para margin_bottom_0">
              {{ contant_info.telefon }}
            </p>
            <p class="tv-section-para margin_bottom_0">
              {{ contant_info.email }}
            </p>
            <p class="tv-section-para margin_bottom_0">
              {{ contant_info.ust_idnr }}
            </p>
            <p class="tv-section-para margin_bottom_0">
              {{ contant_info.unternehmens_sitz }}
            </p>

          </header>

            <div class="tv-section-content">
                <div class="container">
                    <div class="row">
                        <div class="tv-single-blog">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="tv-blog-content">
                                  {% for element in impressum %}
                                    <div class="tv-blog-text">
                                        <div class="tv-blog-title mt">
                                            <h4 class="text-center">

                                                <a>{{ element.title }}</a>
                                            </h4>
                                        </div>
                                        <div class="tv-blog-desc text-center">
                                            {{ element.description|linebreaks|urlize }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
