{% load static %}

<footer class="tv-section">
  <div class="tv-footer-content">
    <div class="container">
      <div class="row">
        <div class="tv-address-content">
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="tv-contact-address-content">
              <div class="tv-contact-icon pull-left">
                <i class="fa fa-map-marker fa-lg"></i>
              </div>
              <div class="tv-contact-info">
                <p>Standort</p>
                <p class="graue_schrift">{{ contant_info.adresse }}, {{ contant_info.ort }}</p>
                
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="tv-contact-address-content">
              <div class="tv-contact-icon pull-left">
                <i class="fa fa-envelope fa-lg"></i>
              </div>
              <div class="tv-contact-info">
                <p>E-Mail</p>
                <p>{{ contant_info.email }}</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="tv-contact-address-content">
              <div class="tv-contact-icon pull-left">
                <i class="fa fa-phone fa-lg"></i>
              </div>
              <div class="tv-contact-info">
                <p>Telefon</p>
                <p>{{ contant_info.telefon }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="tv-footer-social">
          <div class="col-xs-12 col-sm-12 col-md-7">
            <div class="tv-website-socialicon pull-right text-right pull-none-xs">
              <a href="{{ contant_info.facebook_link }}" target="_blank">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-facebook"></i>
              </a>
              <a href="{{ contant_info.instagram_link }}" target="_blank">
                <i class="fa fa-instagram"></i>
                <i class="fa fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tv-footer-copyright">
    <div class="container">
      <div class="row my-3">
        <div class="tv-copyright mein_margin_y_1">
          {{master_objekt.time_year}} Rado-Demontage. All Rights Reserved

        </div>
      </div>
      <div class="row">
        <div class="tv-copyright mein_margin_t_1">

          {{master_objekt.abdullah_webdesign_tag}}
        </div>
      </div>
    </div>
  </div>
</footer>
