{% extends 'base_app/base.html' %}
{% load static %}
{% load cropping thumbnail %}
<title>{% block title %}{% endblock %}</title>
{% block head %}

{% endblock %}
{% load i18n %}
{% block content %}



<div class="tv-slider-container">
  <div class="tv-slider tv-slider-one">
    <div class="owl-carousel owl-loaded owl-drag">
      {% for element in home_slider %}
      <article class="tv-slider-item">
        <div class="tv-slider-img" style="background-image:{% cycle 'url(/static/assets/images/banner2.jpg)' 'url(/static/assets/images/banner.jpg)' %};">
          <div class="tv-slider-content">
            <div class="tv-slider-content-inner">
              <h2 class="tv-highlight-text"><span>{{element.title}}</span> {{element.title_description}}</h2>
              <p class="tv-slider-para">{{element.description}}</p>
            </div>
            <a href="" class="btn">
              <span class="tv-mask"></span>
              <span class="text-white">Mehr über uns</span>
            </a>
          </div>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</div>


<section class="tv-section">
  <header class="tv-section-heading">
    <h2 class="tv-section-title">Latest Projects Completed</h2>
    <p class="tv-section-para">Duis vehicula neque velit, nec commodo purus imperdiet ac. Vestibulum a hendrerit neque. Suspendisse feugiat enim ligula, ac suscipit elit condimentum eget.</p>
  </header>
  <div class="tv-section-content">
    <div class="container">
      <div class="row">
        <div class="tv-filter-wrapper col-xs-12 tv-marginB-50">
          <div class="tv-projects-filter tv-filter-options">



            <a class="active" data-group="all">All Projects</a>

            {% for element in kategorien %}
            <a data-group="{{ element }}">{{element.kategorie_name}}</a>
            {% endfor %}

          </div>
        </div>
        <div class="clearfix"></div>


        <ul id="grid" class="tv-project-grid">

          {% for element in projects %}
          <li class="item grid-item col-md-4 col-sm-6 col-xs-6 width-100" data-groups='["{{ element.kategorie }}"]'>
            <div class="tv-project-content">
              <div class="tv-project-image">
                {{ element.image_tag_png }}
              </div>



              <div class="tv-project-overlaytext">
                <div class="tv-project-midvalue">
                  <span class="tv-porject-cat">{{ element.kategorie }}</span>
                  <span class="tv-project-name">{{ element.title }}</span>
                  <span class="tv-project-plus">
                    <a href="{{ element.get_detail_url }}" class="tv-plus example-image-link img-responsive">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                  </span>
                </div>
              </div>




            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>










{% endblock %}

{% block js %}
<script src="{% static 'assets/js/shuffle.custom.js'%}" type="text/javascript"></script>


<script>
  $(document).ready(function() {
    $('.tv-slider-one .owl-carousel').owlCarousel({
      slideSpeed: 300,
      paginationSpeed: 400,
      transitionStyle: "fade",
      loop: true,
      items: 1,
      margin: 0,
      nav: true,
      dots: false,
      autoplay: true,
      autoplayHoverPause: false,
      autoplaySpeed: 6000,
      navSpeed: 3000,
      singleItem: true,
      navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"]
    });




  });
</script>
{% endblock %}
